name: Build, push and deploy Docker image
 
on:
  push:
    branches: [ "main" ]
 
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          pull: true
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/locksy-securite/back-end:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Authenticate to GCP via Workload Identity Federation
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-deployer@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com

      - name: Configure GCP project
        run: gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy back-end \
            --image ghcr.io/locksy-securite/back-end:latest \
            --platform managed \
            --region europe-west1 \
            --allow-unauthenticated
