name: Build, push and deploy Docker image
 
on:
  push:
    branches: [ "main" ]
 
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          pull: true
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/locksy-securite/back-end:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy back-end \
            --image ghcr.io/locksy-securite/back-end:latest \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated
